table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    border: 2px solid lightgray;
}

td {
    vertical-align: top;
    border: 2px solid lightgray;
}

h2 {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.div-title {
    background-color: lightgoldenrodyellow;
    padding: 5px;
}

.fixed-height-container {
    height: 100px;
    overflow-y: scroll;
    padding: 10px;
}

.div-indicates-expanded {
    background-color: white;
}

.div-indicates-collapsed {
    background-color: lightgray;
    margin-top: 3px;
    margin-bottom: 3px;
}

.div-content-expanded {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-content-collapsed {
    display: none;
}

.button-go-analyzing {
    background-color: lightgoldenrodyellow;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}